
* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

#main-wrapper {
  position: relative;
  @extend %full-size;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  @extend %full-size;

}

#app-wrapper {
  position: relative;
  @extend %full-size;
}

#app-canvas {
  position: absolute;
  top: 0;
  left: 0;
  @extend %full-size;
}
