
#app-main-dom-wrapper {
  position: relative;
  width: 100%;



  padding-left: 5%;
  padding-right: 5%;

  z-index: 1;

  .work-text-wrapper{
    margin-top: 50px;
    padding-bottom: 70px;
  }

  h1{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
  }


  .work-text {
    @extend .baseWorkProperties;
    //width: 100%;

    color: #000000;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    margin-top: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;



    transform-origin: left top 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    z-index: 1;

    .work-wrapper {
      position: relative;
      //position: absolute;
      //width: 100%;
    }

    .work-cover{
      @include performance();
      position: absolute;
      top: 14px; left: 0;
      width: 0;
      overflow: hidden;
      height: 25px;
      z-index: 100;


      .cover-content{
        @include performance();
        position: relative;
        width: 100%;
        height: 100%;
        background: black;
      }
    }

    .work-base {
      top: 0;
      left: 0;
      //width: 100%;
      display: inline-block;
      white-space: nowrap;
    }

    .work-active {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 0;

      color: #AAA;
      display: inline-block;
      white-space: nowrap;
    }
  }

}
